.galleryAll
  align-items: center
  overflow-y: auto
  display: flex
  flex-wrap: wrap
  gap: 10px
  background-color: #cccccc
  border-radius: 5px
  margin: 10px

  h2
    justify-content: center

  .container
    display: flex

    .slide
      list-style: none
      margin: 10px
      flex: 1 1 500px
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
      border-radius: 5px
      overflow: hidden

      .image
        height: auto
        display: block
        min-height: 200px
        min-width: 200px
        max-width: 200px
        max-height: 200px
        object-fit: cover
        //height: 50rem

      .title
        text-align: center
        margin-top: 10px
        font-weight: bold
        color: white
        background-color: rgba(0, 0, 0, 0.5)
        text-transform: uppercase

